{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "no-console": 2,
        "no-unused-vars": "off",
        "no-undef": "off",
        "@typescript-eslint/explicit-function-return-type": "error"
      }
    }
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ]
}
